# DFSU files
*.dfsu
# pd0 files
*.pd0
*.000
# zip files
*.zip
.vs/
obj/
*.dll
bin/Release/net8.0-windows7.0/backend/build/*
bin/Release/net8.0-windows7.0/backend/dist/*
bin/Release/net8.0-windows7.0/CSEMMPGUI_v1.exe.WebView2/*